:host(.header) {
  display: block;
  margin: 0 0 20px;
  padding: 20px;
  background-color: azure;
}

.header__inner {
  display: flex;
  align-items: center;
}

.header__logo {
  margin: 0 20px 0 0;
}

.header__heading {
  color: darkolivegreen;
}
